---

---
<div id="rust" class="section vbox flex flex-wrap low-gap aitems-center jcontent-center">

  
  <a href="https://www.rust-lang.org/" target="_blank" rel="noopener noreferrer">Rust Website</a>
  <a href="https://doc.rust-lang.org/book/" target="_blank" rel="noopener noreferrer">Rust The Book</a>
  <a href="https://doc.rust-lang.org/rust-by-example/" target="_blank" rel="noopener noreferrer">Rust By Example</a>

  <a href="sample" target="_blank" rel="noopener noreferrer">sample</a>
  <a href="sample" target="_blank" rel="noopener noreferrer">sample</a>
  <a href="sample" target="_blank" rel="noopener noreferrer">sample</a>
  
  <a href="https://rustwasm.github.io/docs/book/" target="_blank" rel="noopener noreferrer">Rust Wasm Book</a>
  <a href="https://doc.rust-lang.org/embedded-book" target="_blank" rel="noopener noreferrer">Rust Embedded Book</a>
  <a href="https://rust-cli.github.io/book/index.html" target="_blank" rel="noopener noreferrer">Rust Command Line Book</a>

</div>


<style>
  #products{margin:1.25rem auto;}
  .section{direction:ltr;margin-top:.5rem;width:20rem;}
  .section a{
    box-shadow: 0px 3px 2px 2px rgba(0,0,0,0.1);
    padding:.1rem .75rem;
    color:var(--c1);
    border:2px solid var(--c4);
    border-radius:4px;
    transition:background .25s;
  }
  .section a:hover{background:var(--c4);}
  @media(min-width:768px){.section{direction:ltr;}}
</style>