---

---
<div id="os" class="">
  <div id="linux_os" class="os_section vbox flex flex-wrap low-gap aitems-center jcontent-center">
    <a href="/document/os/arch/">Arch Linux</a>
    <!-- <a href="/document/os/debian/">Debian Linux</a> -->
    <!-- <a href="/document/os/fedora/">Fedora Linux</a> -->
    <!-- <a href="/document/os/nixos/">Nixos Linux</a> -->
    <!-- <a href="/document/os/alpine/">Alpine Linux</a> -->
  </div>
  <!-- <div id="bsd_os" class="os_section vbox flex flex-wrap low-gap aitems-center jcontent-center">
    <a href="/document/os/openbsd/">Open BSD</a>
    <a href="/document/os/freebsd/">Free BSD</a>
    <a href="/document/os/netbsd/">Net BSD</a>
  </div> -->
  <!-- <div id="other_os" class="os_section vbox flex flex-wrap low-gap aitems-center jcontent-center">
    <a href="/document/os/android/">Android</a>
    <a href="/document/os/ios/">IOS</a>
    <a href="/document/os/windows/">Windows</a>
    <a href="/document/os/osx/">OSX</a>
  </div> -->
</div>


<style>
  #os{margin:1.5rem auto;}

  .os_section{direction:ltr;margin:.5rem auto;}
  .os_section a{
    box-shadow: 0px 3px 2px 2px rgba(0,0,0,0.1);
    padding:.1rem .75rem;
    color:var(--c1);
    border:2px solid var(--c4);
    border-radius:4px;
    transition:background .25s;
  }
  .os_section a:hover{background:var(--c4);}
  @media(min-width:768px){.os_section{direction:ltr;}}
</style>