---

---
<div id="products" class="section vbox flex flex-wrap low-gap aitems-center jcontent-center">
  <a href="/document/os/arch/">Albors Css</a>
  <a href="/document/os/debian/">Caspian Web</a>
</div>


<style>
  #products{margin:1.25rem auto;}
  .section{direction:ltr;margin-top:.5rem;}
  .section a{
    box-shadow: 0px 3px 2px 2px rgba(0,0,0,0.1);
    padding:.1rem .75rem;
    color:var(--c1);
    border:2px solid var(--c4);
    border-radius:4px;
    transition:background .25s;
  }
  .section a:hover{background:var(--c4);}
  @media(min-width:768px){.section{direction:ltr;}}
</style>