---

---
<div id="programming_languages" class="">
  <div id="small-box" class="flex flex-wrap low-gap aitems-center jcontent-center">
    <a href="/document/pl/rust/">Rust</a>
    <a href="/document/pl/zig/">Zig</a>
    <a href="/document/pl/go/" class="text-line-through">Go</a>

    <a href="/document/pl/c/" class="text-line-through">C</a>
    <a href="/document/pl/cpp/" class="text-line-through">C++</a>

    <a href="/document/pl/html/" class="text-line-through">Html</a>
    <a href="/document/pl/css/" class="text-line-through">Css</a>
    <a href="/document/pl/js/" class="text-line-through">Java Script</a>
    <a href="/document/pl/ts/" class="text-line-through">Type Script</a>

    <!-- <a href="/document/pl/python/">Python</a> -->
    <!-- <a href="/document/pl/mojo/">Mojo</a> -->
    <!-- <a href="/document/pl/nim/">Nim</a> -->
    <!-- <a href="/document/pl/php/">Php</a> -->
    <!-- <a href="/document/pl/java/">Java</a> -->
    <!-- <a href="/document/pl/csharp/">C#</a> -->
  </div>
</div>


<style>
  #programming_languages{direction:ltr;width:20rem;margin:2rem auto;}
  #programming_languages a{
    box-shadow: 0px 3px 2px 2px rgba(0,0,0,0.1);
    padding:.1rem .75rem;
    color:var(--c1);
    border:2px solid var(--c4);
    border-radius:4px;
    transition:background .25s;
  }
  #programming_languages a:hover{
    background:var(--c4);
  }
  /* @media(min-width:768px){
    #programming_languages{width:30rem;}
  } */
</style>