---
import Layout from "../../BaseLayout.astro";

import Header from "../../../components/base/Header.astro";

import '../../../Sass/side/docs.scss'

const { frontmatter } = Astro.props;
const programmingLetterC = await Astro.glob('../../../pages/content/docs/Programming/**/*.md');
---

<Layout title="Welcome to Astro.">
	<Header alt_title="Docs" alt_url="/docs"/>
	<main class="a-flx">
		<div class="sidebar">
			<div class="SideBarList">
				{programmingLetterC.map((post) =>
				
					<a href={post.url}><p>{post.frontmatter.title}</p></a>
				)}
			</div>
		</div>
		<div class="main">
            <h1>{frontmatter.title}</h1>
			<slot />
		</div>
	</main>
</Layout>

<style lang="scss">
    h1{
        color: #44BBA4;
    }
</style>
