---
const {
    title = "Caspian Web"
    , alt_title 
    , alt_url
    , show_menu_btn
    } = Astro.props;


---

<header class="bg-2">
    <nav class="a-vbx-rsp">

        <div class="logo">
            <a href="/" class="title"><h1>{title}</h1></a>
            &nbsp; 
            <a href={alt_url} class="alt_title"><h1> {alt_title}</h1></a>
        </div>
        <div class="right"></div>
        <div class="links">
            <a href="/docs">Docs</a>
            <a href="/blog">Blog</a>
            <a href="/about">About</a>
            <a href="https://github.com/caspian-web/caspian-web" class="show-small">Github</a>
            <a href="https://github.com/caspian-web/caspian-web" class="show-big header-icon"><img src="/github.svg" alt="github icon"></a>

            <!-- https://feathericons.com/ -->
            <div class="theme show-big">
                <img src="/moon.svg" alt="dark theme icon" class="theme-icon header-icon" id="show-dark">
                <img src="/sun.svg" alt="light theme icon" class="theme-icon header-icon" id="show-light">
            </div>

        </div>

    </nav>
</header>

<script type="module">
    const showDark = document.querySelector("#show-dark");
    const showLight = document.querySelector("#show-light");

    showLight.classList.toggle("hide-icon")
    function toggle_theme(){
        showLight.classList.toggle("hide-icon")
        showDark.classList.toggle("hide-icon")
    }
    showDark.addEventListener('click', toggle_theme);
    showLight.addEventListener('click', toggle_theme);
</script>

<style lang="scss">
    $cl1: #F6F7EB ;
    $cl2: #393E41 ;
    $cl3: #44BBA4 ;
    $cl4: #E94F37 ;
    header{
        padding: 1rem;

        @media (min-width: 768px) {padding: 1rem;}
        nav{
            display: flex;
            flex-direction: column;
            @media (min-width: 768px) {
                flex-direction: row; 
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    .logo{
        display: flex;
        justify-content: center;
        a{
            text-decoration: none;
        }
        .title{
            color: $cl1;
        }
        .alt_title{
            color: $cl3;
        }
        .title,.alt_title{
            transition: transform 0.4s ease 0s;
        }
        .title:hover {
            transform: translate(-3px,3px);
        } .alt_title:hover{
            transform: translate(3px,3px);
        }
    }
    .links{
        padding: 1rem 0;
        @media (min-width: 768px) {padding: 0;}

        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            color: $cl1;
            transition: color 0.3s ease , transform 0.3s ease;

            @media (min-width: 768px) {padding-right: 5px;}
            &:hover{
                color: $cl3;
             transform: translate(0,-1.5px);

            }
        }
        p{
            color: $cl1;
        }
    }
    .show-small{
        display: block;
        @media (min-width: 768px) {display: none;}
    }
    .show-big{
        display: none;
        @media (min-width: 768px) {display: block;}
    }
    .header-icon{
        transform: translate(0,4px);
        transition: transform 0.4s ease;
        &:hover{
            transform: translate(0,1px);
            cursor: pointer;
        }
    }
    .show-icon{
        display: block;
    }
    .hide-icon{
        display: none;
    }



</style>