---

const {
  subtitle,
  suburl
} = Astro.props;
---
<header class="box-row bc4">
  <div class="vbox flex">
    <div class="links flex">
      <a href="" class="link">Html</a>
      <a href="" class="link">Css</a>
      <a href="" class="link">JavaScript</a>
      <a href="" class="link">Rust</a>
      <a href="" class="link">Go</a>
      <a href="" class="link">Zig</a>
      <a href="" class="link">Python</a>
    </div>
  </div>
</header>

<style>
  header{border-bottom:#9d53ce83 3px solid;border-radius: 0 0 .8rem .7rem;} 

  a.link{
    color:#393E41;
    margin-left:12px;text-decoration:none;
    transition:color .2s ease-in-out;
  }
  a.link:hover{color:#8952adb2;}

</style>