---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import SubHeader from "../../../components/SubHeader.astro";
import "../../../style/learn.css"
---
<BaseLayout title="آموزش" subtitle="آموزش" suburl="/content/learn">
	<SubHeader />
	<div class="main vbox">
		<slot/>
	</div>
</BaseLayout>

<style>
	.main{
		margin-top:1rem;
	}

</style>