---
const {class: className} = Astro.props;
---
<div class="header-eyes md-hide flex jcontent-between aitems-center">
  <div class="header-eye bc3"></div>
  <div class="header-eye bc3"></div>
  <div class="header-eye bc3"></div>
</div>

<style>
  .header-eyes{width:32px;height:48px;cursor:pointer;}
  .header-eye{width:8px;height:8px;border-radius:50%;}
</style>