---
import HeaderLinks from "./HeaderLinks.astro";
import HeaderEyes from "./HeaderEyes.astro";
import HeaderMenu from "./HeaderMenu.astro";
---
<div id="header" class="bc2 box flex jcontent-between aitems-center">
  
  <div id="right_subheader" class="flex aitems-center">
    <div id="header_logo" class="flex aitems-center low-gap">
      <a  href="/"  id="header_logo-link" class="tc1"> کاسپین وب </a>
      <!-- <a id="header_logo-altlink" class="tc1" href=""> آموزش </a> -->
    </div>
    <p id="header_logo-space" class="tc1 sm-hide"> | </p>
    <HeaderLinks class="flex aitems-center mid-gap sm-hide"/>
  </div>

  <div id="left_subheader" class="flex aitems-center">
    <HeaderEyes class="md-hide"/>
    <!-- <div class="header_logo-icons sm-hide"><a href="https://github.com/caspian-web/caspian-web" target="_blank" rel="noopener noreferrer" class="flex aitems-center"><img src="github.svg" alt="github logo icon" class="header-github-icon"></a></div> -->
  </div>

</div>
<HeaderMenu class="sm-hide md-hide bc2"/>

<script type="module">
  const header_eyes = document.querySelector("#header_eyes");
  const header_menu = document.querySelector("#header_menu");
  function toggle_eyes(){
    header_eyes.classList.toggle("header_eyes-clicked")
    header_menu.classList.toggle("sm-hide")
    header_menu.classList.toggle("flex")
  }
  header_eyes.addEventListener('click', toggle_eyes);
</script>

<style>
  #header{
    height: 3rem;

    position:sticky;
    top: 0px;
    z-index: 100;
  }
  #right_subheader{
    gap:8px;
  }
  #header_logo a{
    text-decoration:none;
  }
  #header_logo-space{
    cursor: default;
  }
  #header_logo-link{transition:transform 0.3s ease-in;}
  #header_logo-link:hover{transform:translate(0,-4px);}

  /* TODO: Instead Of Moving Give It Hover Color Overlay */
  /* .header-github-icon{width:2rem;transition:transform 0.3s ease-in;}
  .header-github-icon:hover{transform:translate(0,-4px);} */

</style>