---
const {class: className} = Astro.props;
---
<div id="header_eyes" class="md-hide flex jcontent-between aitems-center">
  <div id="header_eye"></div>
  <div id="header_eye"></div>
  <div id="header_eye"></div>
</div>

<style>
  #header_eyes{width:32px;height:32px;cursor:pointer;border-radius:16px;padding:2px;}
  #header_eye{width:8px;height:8px;border-radius:50%;background-color:#F5FBEF;transition:background-color 0.25s ease-out;}
  .header_eyes-clicked #header_eye{background-color:#A23E48;}
</style>