---
import HeaderLinks from "./HeaderLinks.astro";
---
<div id="header" class="bc2 box flex jcontent-between aitems-center">
  
  <div id="right_subheader" class="flex aitems-center">
    <div id="header_title" class="flex aitems-center low-gap">
      <a  href="/"  id="header_title-link" class="tc1"> کاسپین وب </a>
      <!-- <a id="header_title-altlink" class="tc1" href=""> آموزش </a> -->
    </div>
    <p id="header_title-space" class="tc1 sm-hide"> | </p>
    <HeaderLinks class="flex aitems-center mid-gap sm-hide"/>
  </div>

  <div id="left_subheader" class="flex aitems-center">
    <!-- <div class="header_logo-icons sm-hide"><a href="https://github.com/caspian-web/caspian-web" target="_blank" rel="noopener noreferrer" class="flex aitems-center"><img src="github.svg" alt="github logo icon" class="header-github-icon"></a></div> -->
  </div>

</div>


<style>
  #header{
    height: 3rem;

    position:sticky;
    top: 0px;
    z-index: 100;
  }
  #right_subheader{
    gap:8px;
  }
  #header_title a{
    text-decoration:none;
  }
  #header_title-space{
    cursor: default;
  }
  #header_title-link{transition:transform 0.3s ease-in;}
  #header_title-link:hover{transform:translate(0,-4px);}

  /* TODO: Instead Of Moving Give It Hover Color Overlay */
  /* .header-github-icon{width:2rem;transition:transform 0.3s ease-in;}
  .header-github-icon:hover{transform:translate(0,-4px);} */

</style>