---
const {class: className} = Astro.props;
---
<div id="header-eyes" class="header-eyes md-hide flex jcontent-between aitems-center">
  <div class="header-eye"></div>
  <div class="header-eye"></div>
  <div class="header-eye"></div>
</div>

<style>
  .header-eyes{width:32px;height:32px;cursor:pointer;border-radius:16px;padding:2px;}
  .header-eye{width:8px;height:8px;border-radius:50%;background-color:#F5FBEF;transition:background-color 0.25s ease-out;}
  .header-eyes-clicked .header-eye{background-color:#96616B;}
</style>