---
import IndexInfo from "../components/index/IndexInfo.astro";
import IndexLearn from "../components/index/IndexLearn.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <div id="error_404" class="flex flex-col jcontent-center aitems-center high-gap">
    <div id="error_text" class="flex low-gap aitems-center"> 
      <h2 class="tc5"> خطای </h2>
      <h1 class="tc5"> ۴۰۴ </h1>
    </div>
    <div id="error_helper">
      <h4 class="tc1"> صفحه ی مورد نظر یافت نشد </h4>
    </div>
    <div id="error_to_home">
      <a href="/" class="tc4"> بازگشت به صفحه اصلی </a>
    </div>
  </div>
</Layout>

<style>
  #error_404{
    height:calc(100vh - 3rem);
  }
</style>