---
import IndexInfo from "../components/index/IndexInfo.astro";
import IndexLearn from "../components/index/IndexLearn.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
	<IndexInfo/>
	<IndexLearn/>
	
		<div class="box-page"></div>
		<div class="box-page bc1"></div>
		<div class="box-page bc2"></div>

	
</Layout>

<style>

</style>