---
import Layout from '../layouts/BaseLayout.astro';

import Header from '../components/base/Header.astro';
---

<Layout title="Welcome to Astro.">
	<main>
        <div class="log">
            <h1>404</h1>
            <h5 class="error">Page Not Found</h5>
            <a href="/"><h5 class="home">Take Me <span>Home</span></h5></a>
        </div>

	</main>
</Layout>

<style lang="scss">
    main{
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    a{
        text-decoration: none;
    }
    h1{
        font-size: 10rem;
        color: #44BBA4;
    }
    h5{
        color: #393E41;
        font-size: 1.2rem;
    }
    .home {
        color: #F6F7EB;

        background-color: #393E41;
        margin: auto;
        width: 80%;
        margin-top: 2rem;
        padding: 1rem;
        border: 2px dashed #44BBA4;
        border-radius: 0.5rem;
        span{
            color:#44BBA4;
        }
        &:hover{
            background-color: #44BBA4;
            border: 2px dashed #393E41;
            span{
                color: #393E41;
            }
        }
    }

</style>
