---
import Layout from '../layouts/BaseLayout.astro';

import Header from '../components/base/Header.astro';
---

<Layout title="Welcome to Astro.">
	<Header alt_title="Docs" alt_url="/docs"/>
	<main>

	</main>
</Layout>

<style lang="scss">

</style>
