---
import Layout from '../layouts/Layout.astro';

import Header from '../components/Header.astro';

const ProgrammingLanguagesDocs = await Astro.glob('./content/docs/*.md');
---

<Layout title="Documents">
	<Header alt_title="Docs" alt_url="/docs" />
	<main class="a-bx-page bg-1">
        <div class="main a-vbx-rsp">
            <p class="topics">Topics</p>
            {ProgrammingLanguagesDocs.map((post) =>
                    
                <a href={post.url} class="post">
                    <p>{post.frontmatter.title}</p>
                </a>
    
            )}
        </div>
	</main>

</Layout>

<style lang="scss">
    $cl1: #F6F7EB ;
    $cl2: #393E41 ;
    $cl3: #44BBA4 ;
    $cl4: #E94F37 ;
    .main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        @media (min-width: 640px) {grid-template-columns: repeat(3, 1fr);}
        @media (min-width: 1536px) {grid-template-columns: repeat(4, 1fr);}
    }
    .topics{
        padding-top: 1rem;
        font-size: xx-large;
        font-weight: bolder;
        grid-column: span 2;
        @media (min-width: 640px) {grid-column: span 3;}
        @media (min-width: 1536px) {grid-column: span 4;}
    }
    
    a.post{
        padding: 12px 0;
        width: 180px;
        @media (min-width: 1024px) {width: 240px;}
        @media (min-width: 1280px) {width: 310px;}

        color: $cl2;
        text-align: center;
        margin-top: 1rem;
        border-radius: 8px;

        transition: all 0.5s ease;
        &:nth-child(odd){
            color: $cl4;
            border: 2px dashed $cl4;
            &:hover{
                color: $cl1;
                background-color: $cl4 ;
                border: 2px dashed $cl1;
            }
        }
        &:nth-child(even){
            color: $cl3;
            border: 2px dashed  $cl3;
            &:hover{
                color: $cl1;    
                background-color: $cl3;
                border: 2px dashed $cl1;
            }
        }
    }

</style>
