:root{--c1:#F6F7EB;--c2:#393E41;--c3:#44BBA4;--c4:#E6ADEC;--c5:#9D53CE ;}
.bc1{background-color:var(--c1);}.bc2{background-color:var(--c2);}.bc3{background-color:var(--c3);}.bc4{background-color:var(--c4);}.bc5{background-color:var(--c5);}
.tc1{color:var(--c1);}.tc2{color:var(--c2);}.tc3{color:var(--c3);}.tc4{color:var(--c4);}.tc5{color:var(--c5);}


.main h1{color:var(--c5);font-size:large;}
.main p {color:var(--c2);}