/* Text & Background Colors */
:root{
  /* 
    --c1 : 
    --c2 : 
    --c3 : 
    --c4 : 
    --c5 : 
  */
  --c1:#F5FBEF;--c2:#343434;--c3:#FED766;--c4:#66A182;--c5:#A23E48;
}
/* https://coolors.co/272727-fed766-66a182-b15e6c-eff1f3 */