---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
---

<Layout title="Blog">
	<Header alt_title="Blog" alt_url="/blog" />
	<main class="a-bx-page bg-1">
        <div class="slot a-vbx-rsp">
            <slot/>
        </div>
	</main>

</Layout>

<style lang="scss">
	main,aside{
		min-height: 100vh;
	}
</style>
