---
---
<div class="index-info">
  <div id="infoTextBox" class="">
    <h1 class="tc4"> آموزش </h1>
    <h1 class="tc1"> رایگان </h1>
    <h1 class="tc5"> برای همه </h1>
  </div>
  <!-- <div id="infoLinkBox">
    <div class="infoLinkBox-links">
      <a href="http://" target="_blank" rel="noopener noreferrer" class=""> آموزش </a>
      <a href="http://" target="_blank" rel="noopener noreferrer" class=""> داکیومنت </a>
      <a href="http://" target="_blank" rel="noopener noreferrer" class=""> بلاگ </a>
      <a href="http://" target="_blank" rel="noopener noreferrer" class=""> گیت هاب </a>
    </div>
  </div> -->
</div>

<style>
  :root{--c1:#F5FBEF;--c2:#343434;--c3:#63B0CD;--c4:#4D9078;--c5:#A23E48;}
  .index-info{
    width:100vw;
    height:calc(100vh - 3rem);

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
  }
  @media(min-width:768px){
    #infoTextBox h1{
      font-size:3em;
    }
  }



  /* 
  background-color:palevioletred;
  background: radial-gradient(circle , rgba(238,174,202,1) 10%, rgb(99,176,205,0.65) 90%); 
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  */
</style>