---
import Layout from '../layouts/Layout.astro';

import Header from '../components/Header.astro';
---

<Layout title="Home">
	<Header />
	<main class="a-bx-page bg-1">
	</main>

</Layout>

<style lang="scss">
	main,aside{
		min-height: 100vh;
	}

</style>
