---
import Header from "../components/base/header/Header.astro";

import IndexInfo from "../components/index/IndexInfo.astro";
import IndexLearn from "../components/index/IndexLearn.astro";

import "../style/albors.css"

---
<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> کاسپین وب </title>

  </head>
  <body class="bc2">

    <Header/>
    <slot/>

  </body>
</html>

<style>

</style>