---

---
<div id="index-intro" class="blog flex">
  <div class="vbox">

  </div>
</div>



<style>

  .blog{
    background-image: linear-gradient(to right top, #343434, #434b55, #446873, #478583, #66a182);
  }
  #index-intro{
    height:calc(100vh - 3rem);
    box-shadow: 0px 10px 15px 16px rgba(0,0,0,0.1);
  }
  @media(min-width:768px){
    #index-intro{
      height: 30rem;
    }
  }
  #index-intro{
    height:calc(100vh - 3rem);
  }
  @media(min-width:768px){
    #index-intro{
      height: 30rem;
    }
    
  }

</style>



