---

---
<div id="index-intro" class="flex">
  <div class="vbox">

  </div>
</div>

<style>

#index-intro{
  height:calc(100vh - 3rem);
  box-shadow: 0px 10px 15px 16px rgba(0,0,0,0.1);
  background-image: linear-gradient(to right top, #343434, #3e424a, #40535f, #3c6571, #39787a, #3c807b, #43887a, #4d9078, #4d9078, #4d9078, #4d9078, #4d9078);
}
@media(min-width:768px){
  #index-intro{
    height: 30rem;
  }
}


</style>



