---

---
<div id="index-intro" class="flex">
  <div class="vbox">
    
  </div>
</div>

<style>

#index-intro{
  height:calc(100vh - 3rem);
}
@media(min-width:768px){
  #index-intro{
    height: 50rem;
  }
}


</style>



