---

---
<div id="index-intro-news" class="">
  <div class="bg"></div>
  <div id="index-intro-news-inner" class="vbox tc1">
    sfasfasfasf
  </div>
</div>

<style>

#index-intro-news{
  height:calc(100vh - 3rem);
}
.bg{
  width:100%;
  height:calc(100vh - 3rem);
  
  background-color: var(--c1);
  opacity: 0.1;
  background-image:  radial-gradient(var(--c1) 0.9px, transparent 0.9px), radial-gradient(var(--c1) 0.9px, var(--c2) 0.9px);
  background-size: 36px 36px;
  background-position: 0 0,18px 18px;

  position: absolute;
  z-index: -1;
}
#index-intro-news-inner{

}
@media(min-width:768px){
  .bg,#index-intro-news{
    height: 50rem;
  }
}


</style>



