---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SubHeader from "../../components/SubHeader.astro";
---
<BaseLayout title="آموزش" subtitle="آموزش" suburl="/content/learn">
	<SubHeader/>
	<a href="./learn/html">html</a>
</BaseLayout>